body {
    margin: 0;
    background-color: white;
    font-family: Helvetica, Sans-Serif;
  }

  h1 {
    margin: 0;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    color: black;
    background-color: lightgrey;
  }

  h2 {
    margin: 0;
    float: right;
    color: darkgrey;
  }
  .slogan{
    margin: 0;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 30px;
    font-family: Helvetica, Sans-Serif;
  }

  .imgbox {
    display: grid;
    height: 100%;
  }

.intro {
  text-align: justify;
  font-size: 18px;
  padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.square {
  text-align: justify;
  float: right;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
}
